@page
@model RegisterNurseModel
@{
    ViewData["Title"] = "Inscription Infirmier";
}

<h1>@ViewData["Title"]</h1>

<h4>Création d'un nouveau compte</h4>
<hr />

<div asp-validation-summary="All" class="text-danger"></div>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<partial name="_StatusMessage" model="Model.ErrorMessage" />
<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Input.FirstName"></label>
            <input asp-for="Input.FirstName" class="form-control" />
            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label>Prénom</label>
            <input asp-for="Input.LastName" class="form-control" />
            <span asp-validation-for="Input.LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Input.ConfirmEmail"></label>
            <input asp-for="Input.ConfirmEmail" class="form-control" />
            <span asp-validation-for="Input.ConfirmEmail" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
            <small id="Input.Password" class="form-text text-muted">mdp = Superpassword.0</small>
        </div>
        <div class="form-group col-md-6">
            <label>Confirmation Mot de passe</label>
            <input asp-for="Input.ConfirmPassword" class="form-control" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Input.Phonenumber"></label>
            <input asp-for="Input.Phonenumber" class="form-control" />
            <span asp-validation-for="Input.Phonenumber" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label>Adresse</label>
            <input asp-for="Input.Adress" class="form-control" />
            <span asp-validation-for="Input.Adress" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Input.BirthDay"></label>
            <input asp-for="Input.BirthDay" class="form-control" />
            <span asp-validation-for="Input.BirthDay" max='2000-13-13' class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Input.SiretNumber"></label>
            <input asp-for="Input.SiretNumber" minlength="14" maxlength="14" class="form-control" />
            <span asp-validation-for="Input.SiretNumber" class="text-danger"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Validation</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        Input_BirthDay.max = new Date().toISOString().split("T")[0];
    </script>
}