<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PrenezMoiViteSvp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" type="image/png" href="/css/logo.png" sizes="16x16">
</head>
<body style="background-image:url(/css/background.jpg); background-size:cover">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3" style="background-color: #e8f1e3;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/css/logo.png" width="140" height="120"></a>

                @*<a asp-action="Index">
                    <img src="/css/logo.png" width="140" height="120">
                </a>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Accueil</a>
                        </li>
                        @if ((User.IsInRole("ROLE_ADMIN") || User.IsInRole("ROLE_USER")))
                        {//Si l'utilisateur connecté est infirmier(role admin)
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Appointments" asp-action="Index">Rendez-vous</a>
                            </li>
                        }
                        @if (User.IsInRole("ROLE_ADMIN"))
                        {//Si l'utilisateur connecté est infirmier(role admin)
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Absence" asp-action="Index">Absences</a>
                            </li>
                        }
                        @if (User.IsInRole("ROLE_SUPER_ADMIN"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="SuperAdmin" asp-action="Index">Gestion des comptes</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted" style="background-color: #e8f1e3;">
        <div class="container">
            &copy; 2021 - PrenezMoiViteSvp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Confidentialité</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
