@page
@model IndexNurseModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.IndexNurse;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="Username" type="hidden" />

            <div class="form-group">
                <label>Nom</label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Prénom</label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Téléphone</label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Adresse</label>
                <input asp-for="Input.Adress" class="form-control" />
                <span asp-validation-for="Input.Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Date de naissance</label>
                <input asp-for="Input.BirthDay" max='2000-13-13' class="form-control" />
                <span asp-validation-for="Input.BirthDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>N° sécurité sociale</label>
                <input asp-for="Input.SiretNumber" class="form-control" />
                <span asp-validation-for="Input.SiretNumber" class="text-danger" minlength="14" maxlength="14"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Sauvegarder</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        Input_BirthDay.max = new Date().toISOString().split("T")[0];
    </script>
}