@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>
    <a asp-action="Create" asp-controller="Appointments">Prendre RDV avec un infirmier</a>
</p>
<p>
    @if (User.IsInRole("ROLE_ADMIN"))
    {//Si l'utilisateur connecté est infirmier(role admin)
        <a asp-action="Index" asp-controller="Absence">Liste des absences</a>
    }
    </p>