@{
    ViewData["Title"] = "Police de confidentialité";
}
<h1>@ViewData["Title"]</h1>

<p>On utilisera cette page pour écrire de fausse règle à suivre pour les pigeons qui utilisent notre appli !</p>
