@model DomainModel.Appointment
@using Microsoft.AspNetCore.Identity
@inject SignInManager<DomainModel.Person> SignInManager
@inject UserManager<DomainModel.Person> UserManager

@{
    ViewData["Title"] = "Create";

}

<h1>Prise de Rendez-Vous</h1>

<h4>Veuillez selectionner un horaire parmi les propositions</h4>

<div class="row">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            @await Component.InvokeAsync("CreateAppointmentCalendar", UserManager.GetUserId(User))
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AtHome" />@Html.DisplayNameFor(model => model.AtHome)
                </label>
            </div>
            @if (User.IsInRole("ROLE_ADMIN"))
            {//Si l'utilisateur connecté est infirmier(role admin)
                <div class="form-group">
                    <input asp-for="NurseId" style="display:none;" value="@UserManager.GetUserId(User)" />
                </div>
                <div class="form-group">
                    <label asp-for="PatientId" class="control-label"></label>
                    <select asp-for="PatientId" class="form-control" asp-items="ViewBag.PatientId"></select>
                </div>
            }
            else if (User.IsInRole("ROLE_USER"))
            {//Si l'utilisateur est un patient (role user)
                <div class="form-group">
                    <label asp-for="NurseId" class="control-label"></label>
                    <select asp-for="NurseId" class="form-control" asp-items="ViewBag.NurseId"></select>
                </div>
                <div class="form-group">
                    <input asp-for="PatientId" style="display:none;" value="@UserManager.GetUserId(User)" />
                </div>
            }

            <div class="form-group">
                <input asp-for="StatusId" style="display:none;" value="@ViewBag.StatusId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
