@model DomainModel.Appointment
@using Microsoft.AspNetCore.Identity
@inject SignInManager<DomainModel.Person> SignInManager
@inject UserManager<DomainModel.Person> UserManager
@inject WebNursePlanning.Services.AppointmentsService MyAppointment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Rendez-Vous</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AtHome" /> @Html.DisplayNameFor(model => model.AtHome)
                </label>
            </div>
            @if (User.IsInRole("ROLE_ADMIN"))
            {//Si le l'utilisateur connecté est infirmier(role admin)
                <div class="form-group">
                    <input asp-for="NurseId" class="form-control" style="display:none;" value="@UserManager.GetUserId(User)" />
                </div>
                <div class="form-group">
                    <label asp-for="PatientId" class="control-label"></label>
                    <select asp-for="PatientId" class="form-control"
                            asp-items="MyAppointment.GetSelectListPatientsAsync(Model.PatientId).GetAwaiter().GetResult()"></select>
                </div>
            }
            else if (User.IsInRole("ROLE_USER"))
            {//Si l'utilisateur est un patient (role user)
                <div class="form-group">
                    <label asp-for="NurseId" class="control-label"></label>
                    <select asp-for="NurseId" class="form-control"
                            asp-items="MyAppointment.GetSelectListNursesAsync(Model.NurseId).GetAwaiter().GetResult()"></select>
                </div>
                <div class="form-group">
                    @*<label asp-for="PatientId" class="control-label"></label>*@
                    @*<select asp-for="PatientId" class="form-control" asp-items="ViewBag.PatientId"></select>*@
                    <input asp-for="PatientId" class="form-control" style="display:none;" value="@UserManager.GetUserId(User)" />
                </div>
            }
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}