@model DomainModel.Appointment
@using Microsoft.AspNetCore.Identity
@inject SignInManager<DomainModel.Person> SignInManager
@inject UserManager<DomainModel.Person> UserManager
@inject WebNursePlanning.Services.AppointmentsService MyAppointment

@{
    ViewData["Title"] = "Modification Rendez-vous";
}

<h1>Modification de votre rendez-vous</h1>

<hr />
<div class="row">
    <input type="button" id="Previous" name="Previous" value="Semaine Precedent" />
    <input type="button" id="Next" name="Next" value="Semaine Suivant" />
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Reason" class="control-label"></label>
            <input asp-for="Reason" class="form-control" />
            <span asp-validation-for="Reason" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="AtHome" /> @Html.DisplayName("A domicile")
            </label>
        </div>
        @if (User.IsInRole("ROLE_ADMIN"))
        {//Si le l'utilisateur connecté est infirmier(role admin)
            <div class="form-group">
                <input asp-for="NurseId" class="form-control" style="display:none;" value="@UserManager.GetUserId(User)" />
            </div>
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" class="form-control"
                        asp-items="MyAppointment.GetSelectListPatientsAsync(Model.PatientId).GetAwaiter().GetResult()"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Statut</label>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
        }
        else if (User.IsInRole("ROLE_USER"))
        {//Si l'utilisateur est un patient (role user)
            <input asp-for="StatusId" hidden />
            <div class="form-group">
                <label asp-for="NurseId" class="control-label"></label>
                <select asp-for="NurseId" class="form-control"
                        asp-items="MyAppointment.GetSelectListNursesAsync(Model.NurseId).GetAwaiter().GetResult()"></select>
            </div>
            <div class="form-group">
                <input asp-for="PatientId" class="form-control" style="display:none;" value="@UserManager.GetUserId(User)" />
            </div>
        }

        <div id="Calendar" class="form-group">
            @await Component.InvokeAsync("EditAppointmentCalendar", new { personId = UserManager.GetUserId(User), appToEdit = new List<DomainModel.Appointment> { Model } })
        </div>
        <div class="form-group">
            <input type="submit" value="Sauvegarder" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var user = $("#NurseId").val();
        var decalage = 0;
        $(function () {
            $("#Next").click(function (e) {
                e.preventDefault();
                decalage++;
                $.get('/Appointments/GenerateCalendar', {
                    personId: user,
                    decalage: decalage
                }
                    , function (data) { // data => PartialView
                        $('#Calendar').html(data);
                    });
            });
        });
        $(function () {
            $("#Previous").click(function (e) {
                e.preventDefault();
                if (decalage > 0) {
                    decalage--;
                    $.get('/Appointments/GenerateCalendar', {
                        personId: user,
                        decalage: decalage
                    }
                        , function (data) { // data => PartialView
                            $('#Calendar').html(data);
                        });
                }
            });
        });
        $(function () {
            $('#NurseId').on('change', function (e) {
                user = $('#NurseId option:selected').val();
                e.preventDefault();
                $.get('/Appointments/GenerateCalendar', {
                    personId: user,
                    decalage: decalage
                }
                    , function (data) { // data => PartialView
                        $('#Calendar').html(data);
                    });
            });
        });
    </script>
}