@model IEnumerable<DomainModel.Person>

@{
    ViewData["Title"] = "Gestion Comptes";
}

<h1>Gestion des comptes</h1>

<a asp-action="Index" asp-controller="Nurse" class="btn btn-success">Liste de Infirmiers</a>

<a asp-action="Index" asp-controller="Patient" class="btn btn-success">Liste de Patients</a>
